---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11959","strDrink":"Poppy Cocktail","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"Shake
        ingredients with ice, strain into a cocktail glass, and serve.","strInstructionsES":null,"strInstructionsDE":"Die
        Zutaten mit Eis sch\u00fctteln, in ein Cocktailglas abseihen und servieren.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        gli ingredienti con ghiaccio, filtrare in una coppetta da cocktail e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/cslw1w1504389915.jpg","strIngredient1":"Gin","strIngredient2":"Creme
        de Cacao","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"3\/4 oz white ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-02
        23:05:15"}]}'
  recorded_at: Thu, 05 Aug 2021 03:40:39 GMT
[...]
