---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17027","strDrink":"Zima Blaster","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Hurricane glass","strInstructions":"Fill
        glass with ice. Pour in Chambord, then fill with Zima. Mix and enjoy.","strInstructionsES":null,"strInstructionsDE":"F\u00fcllen
        Sie das Glas mit Eis. Gie\u00dfen Sie auf Chambord, dann f\u00fcllen Sie mit
        Zima. Mischen und genie\u00dfen.","strInstructionsFR":null,"strInstructionsIT":"Riempi
        il bicchiere di ghiaccio.\r\nVersare Chambord, quindi farcire con Zima.\r\nMescola
        e divertiti.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/1wifuv1485619797.jpg","strIngredient1":"Zima","strIngredient2":"Chambord
        raspberry liqueur","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"12
        oz ","strMeasure2":"3 oz ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-01-28
        16:09:57"}]}'
  recorded_at: Wed, 04 Aug 2021 23:05:01 GMT
[...]
