---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 03 Aug 2021 04:35:34 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11433","strDrink":"Grass Skirt","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"In a shaker half-filled with ice cubes, combine
        the gin, triple sec, pineapple juice, and grenadine. Shake well. Pour into
        an old-fashioned glass and garnish with the pineapple slice.","strInstructionsES":null,"strInstructionsDE":"In
        einem Shaker, der halb mit Eisw\u00fcrfel gef\u00fcllt ist, den Gin, die Triple
        Sec, Ananassaft und Grenadine miteinander vermengen. Gut sch\u00fctteln. In
        ein old-fashioned Glas geben und mit der Ananasscheibe garnieren.","strInstructionsFR":null,"strInstructionsIT":"In
        uno shaker riempito a met\u00e0 con cubetti di ghiaccio, unisci il gin, il
        triple sec, il succo d''ananas e la granatina, versare in un bicchiere vecchio
        stile e guarnire con la fetta di ananas. Agitare bene","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qyvprp1473891585.jpg","strIngredient1":"Gin","strIngredient2":"Triple
        sec","strIngredient3":"Pineapple juice","strIngredient4":"Grenadine","strIngredient5":"Pineapple","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"1 oz ","strMeasure3":"1 oz ","strMeasure4":"1\/2
        tsp ","strMeasure5":"1 ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-09-14
        23:19:46"}]}'
  recorded_at: Tue, 03 Aug 2021 04:35:34 GMT
recorded_with: VCR 6.0.0
