---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"17246","strDrink":"Empell\u00f3n Cocina''s Fat-Washed
        Mezcal","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Beer
        Glass","strInstructions":"To ensure that your pork fat is just as delicious
        as theirs, here\u2019s their adobo marinade and what to do with it (you\u2019ll
        also need a rack of ribs):\r\n\r\n4 ancho chiles, 8 guajillo chiles and 4
        chipotle chiles, plus 4 cloves roasted garlic, half a cup of cider vinegar,
        a quarter teaspoon of Mexican oregano, 1 teaspoon of ground black pepper,
        a whole clove, a quarter teaspoon of ground cinnamon and a half teaspoon of
        ground cumin.\r\n\r\n[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12800","strDrink":"Coffee-Vodka","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Homemade
        Liqueur","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins Glass","strInstructions":"Boil
        water and sugar until dissolved. Turn off heat. Slowly add dry instant coffee
        and continue stirring. Add a chopped vanilla bean to the vodka, then combine
        the cooled sugar syrup and coffee solution with the vodka. Cover tightly and
        shake vigorously each day for 3 weeks. Strain and filter. Its also best to
        let the sugar mixture cool completely so the vodka won''t evaporate when its
        added. If you like a smoother feel to the liqueur you can add about 1 teaspoon
        of glycerine to the finished product.","strInstructionsES":null,"strInstructionsDE":"Wasser
        und Zucker kochen, bis sie gel\u00f6st sind. Schalten Sie die Heizung aus.
        Geben Sie langsam trockenen Instantkaffee hinzu und r\u00fchren Sie weiter.
        Dem Wodka eine gehackte Vanilleschote hinzuf\u00fcgen, dann den gek\u00fchlten
        Zuckersirup und die Kaffeel\u00f6sung mit dem Wodka vermengen. T\u00e4glich
        3 Wochen lang fest abdecken und kr\u00e4ftig sch\u00fctteln. Abseihen und
        filtern. Am besten ist es auch, die Zuckermischung vollst\u00e4ndig abk\u00fchlen
        zu lassen, damit der Wodka nicht verdunstet, wenn er hinzugef\u00fcgt wird.
        Wenn Sie einen weicheren Geschmack f\u00fcr den Lik\u00f6r m\u00f6gen, k\u00f6nnen
        Sie dem Endprodukt etwa 1 Teel\u00f6ffel Glyzerin hinzuf\u00fcgen.","strInstructionsFR":null,"strInstructionsIT":"Far
        bollire l''acqua e lo zucchero fino a quando non saranno sciolti.\r\nSpegni
        il fuoco.\r\nAggiungere lentamente il caff\u00e8 istantaneo secco e continuare
        a mescolare.\r\nAggiungere un baccello di vaniglia tritato alla vodka, quindi
        unire lo sciroppo di zucchero raffreddato e la soluzione di caff\u00e8 con
        la vodka.\r\nCoprire bene e agitare vigorosamente ogni giorno per 3 settimane.\r\nFiltrare
        e filtrare.\r\n\u00c8 anche meglio lasciare raffreddare completamente la miscela
        di zucchero in modo che la vodka non evapori quando viene aggiunta.\r\nSe
        ti piace una sensazione pi\u00f9 liscia al liquore puoi aggiungere circa 1
        cucchiaino di glicerina al prodotto finito.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qvrrvu1472667494.jpg","strIngredient1":"Water","strIngredient2":"Sugar","strIngredient3":"Coffee","strIngredient4":"Vanilla","strIngredient5":"Vodka","strIngredient6":"Caramel
        coloring","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        cups ","strMeasure2":"2 cups white ","strMeasure3":"1\/2 cup instant ","strMeasure4":"1\/2","strMeasure5":"1
        1\/2 cup","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-08-31
        19:18:14"}]}'
  recorded_at: Tue, 03 Aug 2021 23:09:10 GMT
recorded_with: VCR 6.0.0
