---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12452","strDrink":"Victory Collins","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins glass","strInstructions":"Shake
        all ingredients (except orange slice) with ice and strain into a collins glass
        over ice cubes. Add the slice of orange and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten (au\u00dfer Orangenscheibe) mit Eis sch\u00fctteln und in ein Collins-Glas
        \u00fcber Eisw\u00fcrfel abseihen. Die Orangenscheibe dazugeben und servieren.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        tutti gli ingredienti (tranne la fetta d''arancia) con ghiaccio e filtrare
        in un bicchiere Collins con cubetti di ghiaccio.Aggiungere la fetta d''arancia
        e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/lx0lvs1492976619.jpg","strIngredient1":"Vodka","strIngredient2":"Lemon
        juice","strIngredient3":"Grape juice","strIngredient4":"Powdered sugar","strIngredient5":"Orange","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"3 oz ","strMeasure3":"3 oz unsweetened ","strMeasure4":"1
        tsp ","strMeasure5":"1 slice ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-04-23
        20:43:39"}]}'
  recorded_at: Tue, 17 Aug 2021 22:06:44 GMT
[...]
