---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15849","strDrink":"Apricot punch","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Punch
        \/ Party Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Punch
        bowl","strInstructions":"Pour all ingrediants into a large punch bowl. Add
        ice and 4 oranges that are peeled and divided.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten in eine gro\u00dfe Bowle geben. F\u00fcge Eis und 4 Orangen hinzu,
        die gesch\u00e4lt und geteilt sind.","strInstructionsFR":null,"strInstructionsIT":"Versare
        tutti gli ingredienti in una grande ciotola da punch.\r\nAggiungere il ghiaccio
        e 4 arance sbucciate e divise.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/tuxxtp1472668667.jpg","strIngredient1":"Apricot
        brandy","strIngredient2":"Champagne","strIngredient3":"Vodka","strIngredient4":"7-Up","strIngredient5":"Orange
        juice","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        qt ","strMeasure2":"4 fifth ","strMeasure3":"1 fifth ","strMeasure4":"4 L
        ","strMeasure5":"1\/2 gal ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-08-31
        19:37:47"}]}'
  recorded_at: Fri, 13 Aug 2021 21:59:17 GMT
[...]
