---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11050","strDrink":"Apricot Lady","strDrinkAlternate":null,"strTags":"Cold","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"In a shaker half-filled with ice cubes, combine
        the rum, apricot brandy, triple sec, lemon juice, and egg white. Shake well.
        Strain into an old-fashioned glass almost filled with ice cubes. Garnish with
        the orange slice.","strInstructionsES":null,"strInstructionsDE":"In einem
        Shaker, der halb mit Eisw\u00fcrfeln gef\u00fcllt ist, Rum, Apricot Brandy,
        Triple Sec, Zitronensaft und Eiwei\u00df mischen. Gut sch\u00fctteln. In ein
        old-fashioned Glas abseihen, das fast mit Eisw\u00fcrfeln gef\u00fcllt ist.
        Mit der Orangenscheibe garnieren.","strInstructionsFR":null,"strInstructionsIT":"In
        uno shaker riempito a met\u00e0 con cubetti di ghiaccio, unire il rum, il
        brandy di albicocche, il triple sec, il succo di limone e l''albume. Guarnire
        con la fetta d''arancia. Filtrare in un bicchiere vecchio stile quasi pieno
        di cubetti di ghiaccio. Agitare bene","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/7ityp11582579598.jpg","strIngredient1":"Light
        rum","strIngredient2":"Apricot brandy","strIngredient3":"Triple sec","strIngredient4":"Lemon
        juice","strIngredient5":"Egg white","strIngredient6":"Orange","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"1 oz ","strMeasure3":"1 tsp ","strMeasure4":"1\/2
        oz ","strMeasure5":"1 ","strMeasure6":"1 ","strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02
        23:03:34"}]}'
  recorded_at: Thu, 05 Aug 2021 19:51:04 GMT
[...]
