---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11021","strDrink":"Allegheny","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"Shake
        all ingredients (except lemon peel) with ice and strain into a cocktail glass.
        Top with the twist of lemon peel and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten (au\u00dfer Zitronenschale) mit Eis sch\u00fctteln und in ein Cocktailglas
        abseihen. Mit der Drehung der Zitronenschale garnieren und servieren.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        tutti gli ingredienti (tranne la buccia di limone) con ghiaccio e filtrare
        in una coppetta da cocktail.Completare con la scorza di limone e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uwvyts1483387934.jpg","strIngredient1":"Dry
        Vermouth","strIngredient2":"Bourbon","strIngredient3":"Blackberry brandy","strIngredient4":"Lemon
        juice","strIngredient5":"Lemon peel","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        oz ","strMeasure2":"1 oz ","strMeasure3":"1 1\/2 tsp ","strMeasure4":"1 1\/2
        tsp ","strMeasure5":"1 twist of ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-01-02
        20:12:14"}]}'
  recorded_at: Tue, 03 Aug 2021 23:09:05 GMT
[...]
