---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"178356","strDrink":"Butterfly Effect","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Hurricane
        glass","strInstructions":"Grab your boston tin, fill it with cubes ice and
        then simply chuck in all your ingredients apart from your lemonade.\r\nNow
        it\u2019s time to shake what your mama gave you until all your ingredients
        are blended to perfection.\r\nAdd some cubes of ice to your hurricane glass,
        give them a swill to cool the whole thing down and then strain your raspberry
        vodka cocktail of wonder into the glass.\r\nTop with lemonade and chuck a
        sprig of mint on top for garnish.\r\nYou can either get drinking at this point
        or go and try and grab a few butterflies to finish, the choice really is yours.","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsIT":null,"strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ht3hnk1619704289.jpg","strIngredient1":"Raspberry
        Vodka","strIngredient2":"Cranberry Juice","strIngredient3":"Lemonade","strIngredient4":"Blue
        Curacao","strIngredient5":"Sugar Syrup","strIngredient6":"Lime Juice","strIngredient7":"Mint","strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"50
        ml","strMeasure2":"25 ml","strMeasure3":"25 ml","strMeasure4":"10 ml","strMeasure5":"10
        ml","strMeasure6":"Dash","strMeasure7":"Sprig","strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/www.instagram.com\/p\/COQGZOXBOG2\/","strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":null}]}'
  recorded_at: Fri, 13 Aug 2021 21:59:09 GMT
[...]
