---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 03 Aug 2021 04:31:42 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15106","strDrink":"Apello","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Non
        alcoholic","strGlass":"Collins Glass","strInstructions":"Stirr. Grnish with
        maraschino cherry.","strInstructionsES":null,"strInstructionsDE":"R\u00fchren.
        Mit Maraschinokirsche garnieren.","strInstructionsFR":null,"strInstructionsIT":"Versare
        tutti gli ingredienti in un mixing glass. Mescolate.\r\nGuarnire con una ciliegia
        al maraschino.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uptxtv1468876415.jpg","strIngredient1":"Orange
        juice","strIngredient2":"Grapefruit juice","strIngredient3":"Apple juice","strIngredient4":"Maraschino
        cherry","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"4
        cl ","strMeasure2":"3 cl ","strMeasure3":"1 cl ","strMeasure4":"1 ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-07-18
        22:13:35"}]}'
  recorded_at: Tue, 03 Aug 2021 04:31:42 GMT
recorded_with: VCR 6.0.0
