---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11604","strDrink":"Kentucky Colonel","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"In
        a shaker half-filled with ice cubes combine the courbon and Benedictine. Shake
        and strain into a cocktail glass. Garnish with the lemon twist.","strInstructionsES":null,"strInstructionsDE":"In
        einem Shaker, der halb mit Eisw\u00fcrfeln gef\u00fcllt ist, den Bourbon und
        den Benediktiner vermengen. Sch\u00fctteln und in ein Cocktailglas abseihen.
        Mit der Zitronenscheibe garnieren.","strInstructionsFR":null,"strInstructionsIT":"In
        uno shaker riempito a met\u00e0 con cubetti di ghiaccio unire il courbon e
        il benedettino.Shakerare e filtrare in una coppetta da cocktail. Guarnire
        con la scorza di limone.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/utqwpu1478820348.jpg","strIngredient1":"Bourbon","strIngredient2":"Benedictine","strIngredient3":"Lemon
        peel","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"3
        oz ","strMeasure2":"1\/2 oz ","strMeasure3":"1 twist of ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-11-10
        23:25:48"}]}'
  recorded_at: Thu, 05 Aug 2021 20:42:38 GMT
[...]
