---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"15825","strDrink":"Jamaican Coffee","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Coffee
        \/ Tea","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Champagne flute","strInstructions":"Stir
        the rum, coffee and water together. Top with the whipped cream. Sprinkle with
        a pinch of well ground coffee and drink with a straw.","strInstructionsES":null,"strInstructionsDE":"Rum,
        Kaffee und Wasser miteinander verr\u00fchren. Mit der geschlagenen Sahne bedecken.
        Mit einer Prise gut gemahlenem Kaffee bestreuen und mit einem Strohhalm trinken.","strInstructionsFR":null,"strInstructionsIT":"Mescola
        rum, caff\u00e8 e acqua insieme.\r\nCompletare con la panna montata.\r\nCospargere
        con un pizzico di caff\u00e8 ben macinato e bere con una cannuccia.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xqptps1441247257.jpg","strIngredient1":"Rum","strIngredient2":"Coffee","strIngredient3":"Water","strIngredient4":"Whipped
        cream","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/6
        glass ","strMeasure2":"1\/6 glass strong black ","strMeasure3":"1\/2 glass
        cold ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-03
        03:27:37"}]}'
  recorded_at: Wed, 04 Aug 2021 03:27:26 GMT
[...]
