---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13128","strDrink":"Diesel","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Beer","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Pint
        glass","strInstructions":"Pour the lager first then add the blackcurrant cordial.
        Top up with the cider. The colour sholud be very dark approaching the colour
        of Guiness.","strInstructionsES":null,"strInstructionsDE":"Zuerst das Lagerbier
        gie\u00dfen und dann die schwarze Johannisbeere hinzuf\u00fcgen. Mit dem Apfelmost
        auff\u00fcllen. Die Farbe sollte sehr dunkel sein und sich der Farbe von Guiness
        n\u00e4hern.","strInstructionsFR":null,"strInstructionsIT":"Versare prima
        la birra chiara e poi lo sciroppo di ribes nero.\r\nRabboccare il sidro.\r\nIl
        colore dovrebbe essere molto scuro, avvicinandosi al colore della Guinness.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/sxrrqq1454512852.jpg","strIngredient1":"Lager","strIngredient2":"Cider","strIngredient3":"Blackcurrant
        cordial","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/2
        pint ","strMeasure2":"1\/2 pint ","strMeasure3":"1 dash ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-02-03
        15:20:52"}]}'
  recorded_at: Sun, 22 Aug 2021 23:11:49 GMT
[...]
