---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11580","strDrink":"John Collins","strDrinkAlternate":null,"strTags":"IBA","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins glass","strInstructions":"Pour
        all ingredients directly into highball glass filled with ice. Stir gently.
        Garnish. Add a dash of Angostura bitters.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten direkt in ein mit Eis gef\u00fclltes Highball-Glas gie\u00dfen. Vorsichtig
        umr\u00fchren. Garnieren. F\u00fcge einen Schuss Angostura-Bitter hinzu.","strInstructionsFR":null,"strInstructionsIT":"Versare
        tutti gli ingredienti direttamente nel bicchiere highball pieno di ghiaccio.Aggiungi
        un pizzico di Angostura bitter.Mescola delicatamente.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/0t4bv71606854479.jpg","strIngredient1":"Bourbon","strIngredient2":"Lemon
        juice","strIngredient3":"Sugar","strIngredient4":"Club soda","strIngredient5":"Maraschino
        cherry","strIngredient6":"Orange","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"1 oz ","strMeasure3":"1 tsp superfine ","strMeasure4":"3
        oz ","strMeasure5":"1 ","strMeasure6":"1 ","strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/commons.wikimedia.org\/wiki\/File:IBA_Cocktail_John_Collins_(29221732881).jpg","strImageAttribution":"Michael
        Styne https:\/\/www.flickr.com\/people\/76148228@N00","strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02
        12:04:31"}]}'
  recorded_at: Tue, 17 Aug 2021 22:06:39 GMT
[...]
