---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16289","strDrink":"Apple Grande","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Punch
        \/ Party Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Punch
        Bowl","strInstructions":"Chill both ingredients!! Mix in a tumbler and enjoy!","strInstructionsES":null,"strInstructionsDE":"K\u00fchlen
        Sie beide Zutaten herunter. In einem Becher mischen und genie\u00dfen!","strInstructionsFR":null,"strInstructionsIT":"Chill
        both ingredients!! Mix in a tumbler and enjoy!","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wqrptx1472668622.jpg","strIngredient1":"Tequila","strIngredient2":"Apple
        cider","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"3
        oz ","strMeasure2":"12 oz ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-08-31
        19:37:02"}]}'
  recorded_at: Wed, 04 Aug 2021 23:04:59 GMT
[...]
