---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=bars&limit=10&location=denver,%20co&term=manhattan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer KjBq0vPf65asEjRuPewF7JRK_SBRVCDb9SFAC4EpidrIS_oVd_kiwNQTp84xnO0TFLC-_4XBs-yPyW7dxJTjeCV3hx-_B9DoXGJZwq-Q2GTT5pue7EmpSLLQukf_YHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - a7964f666a3d8cb1
      X-Routing-Service:
      - routing-main--uswest2-6d8455864f-kkfgv; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Resettime:
      - '2021-08-18T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-98-90-uswest2aprod
      X-Extlb:
      - 10-69-98-90-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "LRyRNUWVSZ8NXPuCzTrfpA", "alias": "union-lodge-no-1-denver",
        "name": "Union Lodge No.1", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/oQcctWaIVGkoE1pKGlHA6Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/union-lodge-no-1-denver?adjust_creative=2o4fzWWYwfCIIWDj-9PVYg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2o4fzWWYwfCIIWDj-9PVYg",
        "review_count": 560, "categories": [{"alias": "cocktailbars", "title": "Cocktail
        Bars"}, {"alias": "lounges", "title": "Lounges"}], "rating": 5.0, "coordinates":
        {"latitude": 39.746295, "longitude": -104.994652}, "transactions": [], "price":
        "$$", "location": {"address1": "1543 Champa St", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80202", "country": "US", "state": "CO",
        "display_address": ["1543 Champa St", "Denver, CO 80202"]}, "phone": "+17203890447",
        "display_phone": "(720) 389-0447", "distance": 2413.638465744777}, {"id":
        "EjNI-dNAMrYxKgUIkqeqhg", "alias": "guard-and-grace-denver", "name": "Guard
        and Grace", "image_url": "https://s3-media1.fl.yelpcdn.com/bphoto/ACYHAtcRL4c-8lcTQ2L5kQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/guard-and-grace-denver?adjust_creative=2o4fzWWYwfCIIWDj-9PVYg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=2o4fzWWYwfCIIWDj-9PVYg",
        "review_count": 1216, "categories": [{"alias": "steak", "[...]
