---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=bars&limit=10&location=denver,%20co&term=manhattan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-768597dfcc-5zpjr; site=public_api_v3
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-161-60-uswest2bprod
      X-Extlb:
      - 10-69-161-60-uswest2bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "''Bearer'' does
        not match ''^(?i)Bearer [A-Za-z0-9\\\\-\\\\_]{128}$''", "field": "Authorization",
        "instance": "Bearer"}}'
  recorded_at: Thu, 05 Aug 2021 03:40:42 GMT
recorded_with: VCR 6.0.0
