---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Pint%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Black & Tan","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rwpswp1454511017.jpg","idDrink":"13282"},{"strDrink":"Cherry
        Electric Lemonade","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/tquyyt1451299548.jpg","idDrink":"17174"},{"strDrink":"Diesel","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/sxrrqq1454512852.jpg","idDrink":"13128"},{"strDrink":"Green
        Goblin","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qxprxr1454511520.jpg","idDrink":"13497"},{"strDrink":"Lunch
        Box","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qywpvt1454512546.jpg","idDrink":"14378"},{"strDrink":"Michelada","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/u736bd1605907086.jpg","idDrink":"178343"},{"strDrink":"Snake
        Bite (UK)","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xuwpyu1441248734.jpg","idDrink":"13389"},{"strDrink":"Snakebite
        and Black","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rssvwv1441248863.jpg","idDrink":"15789"}]}'
  recorded_at: Wed, 18 Aug 2021 22:12:08 GMT
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Martini%20Glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Ace","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/l3cd7f1504818306.jpg","idDrink":"17225"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Old-fashioned%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"1-900-FUK-MEUP","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uxywyw1468877224.jpg",[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Collins%20Glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"3 Wise Men","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wxqpyw1468877677.jpg","idDrink":[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Champagne%20flute
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Absolutely Fabulous","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/abcpwr1504817734.jpg"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Bourbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11147","strDrink":"Bourbon Sour","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Whiskey sour glass","strInstructions":"In
        a shaker half-filled with ice cubes, combine the bourbon, lemon juice, and
        sugar. Shake well. Strain into a whiskey sour glass, garnish with the orange
        slice and cherry.","strInstructionsES":null,"strInstructionsDE":"In einem
        Shaker, der halb mit Eisw\u00fcrfeln gef\u00fcllt ist, Bourbon, Zitronensaft
        und Zucker vermengen. Gut sch\u00fctteln. In ein Whiskey Sour Glas abseihen,
        mit der Orangenscheibe und der Kirsche garnieren.","strInstructionsFR":null,"strInstructionsIT":"In
        uno shaker riempito a met\u00e0 con cubetti di ghiaccio, unisci il bourbon,
        il succo di limone e lo zucchero. Filtrare in un bicchiere da whisky sour,
        guarnire con la fetta d''arancia e la ciliegia. Agitare bene.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/dms3io1504366318.jpg","strIngredient1":"Bourbon","strIngredient2":"Lemon
        juice","strIngredient3":"Sugar","strIngredient4":"Orange","strIngredient5":"Maraschino
        cherry","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"1 oz ","strMeasure3":"1\/2 tsp superfine ","strMeasure4":"1
        ","strMeasure5":"1 ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-02
        16:31:58"},{"idDrink":"11146","strDrink":"Bourbon Sling","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Highball glass","strInstructions":"In
        a shaker half-filled with ice cubes, combine the sugar, water, lemon juice,
        and bourbon. Shake well. Strain well. Strain into a highball glass. Garnish
        with the lemon twist.","strInstructionsES":null,"strInstructi[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Bourbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Allegheny","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uwvyts1483387934.jpg","idDrink":"11021"},[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Tequila
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12362","strDrink":"Tequila Fizz","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drin[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Tequila
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"110 in the shade","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xxyywq1454511117.jpg","idDrink":"1[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Gin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11410","strDrink":"Gin Fizz","strDrinkAlternate":null,"strTags":"IBA,Classic","strVideo":"https:\/\/www.youtube.com\/watch?v=obGh[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Gin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"3-Mile Long Island Iced Tea","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rrtssw1472668972.jpg","idDr[...]
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Highball%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"57 Chevy with a White License Plate","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qyyvtu[...]
