---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Highball%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"57 Chevy with a White License Plate","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qyyvtu1468878544.jpg","idDrink":"14029"},{"strDrink":"747
        Drink","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/i9suxb1582474926.jpg","idDrink":"178318"},{"strDrink":"A
        Day at the Beach","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/trptts1454514474.jpg","idDrink":"15200"},{"strDrink":"A
        Furlong Too Late","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ssxvww1472669166.jpg","idDrink":"17831"},{"strDrink":"A
        Night In Old M[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Martini%20Glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Ace","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/l3cd7f1504818306.jpg","idDrink":"17225"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Pint%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Black & Tan","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rwpswp1454511017.jpg","idDrink":"1[...]
[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Vodka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13196","strDrink":"Long vodka","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Highball glass","strInstructions":"Shake
        a tall glass with ice cubes and Angostura, coating the inside of the glass.
        Por the vodka onto this, add 1 slice of lime and squeeze juice out of remainder,
        mix with tonic, stir and voila you have a Long Vodka","strInstructionsES":null,"strInstructionsDE":"Sch\u00fctteln
        Sie ein hohes Glas mit Eisw\u00fcrfeln und Angostura und beschichten Sie so
        die Innenseite des Glases. Den Wodka dar\u00fcber gie\u00dfen, 1 Scheibe Limette
        hinzuf\u00fcgen und den Saft aus dem Rest herausquetschen, mit Tonic mischen,
        umr\u00fchren und voila, Sie haben einen langen Wodka.","strInstructionsFR":null,"strInstructionsIT":"Agitare
        un bicchiere alto con cubetti di ghiaccio e angostura, ricoprendo l''interno
        del bicchiere.\r\nVersare la vodka su questo, aggiungere 1 fetta di lime e
        spremere il succo dal resto, mescolare con il tonico, mescolare e voil\u00e0
        hai una Long Vodka","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/9179i01503565212.jpg","strIngredient1":"Vodka","strIngredient2":"Lime","strIngredient3":"Angostura
        bitters","strIngredient4":"Tonic water","strIngredient5":"Ice","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"5
        cl ","strMeasure2":"1\/2 ","strMeasure3":"4 dashes ","strMeasure4":"1 dl Schweppes
        ","strMeasure5":"4 ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-08-24
        10:00:12"},{"idDrink":"16967","strDrink":"Vodka Fizz","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"White
        wine glass","strInstructions":"Blend all ingredients, save nutmeg. Pour into
        large white wine glass and sprinkle nutmeg on top.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten mischen. In ein gro\u00dfes Wei\u00dfweinglas geben und mit Muskatnu[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Vodka
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"155 Belmont","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/yqvvqs1475667388.jpg","idDrink":"15346"},[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Scotch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12158","strDrink":"Scotch Sour","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Scotch
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Affinity","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wzdtnn1582477684.jpg","idDrink":"17840"},{"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Bourbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11147","strDrink":"Bourbon Sour","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drin[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Bourbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Allegheny","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uwvyts1483387934.jpg","idDrink":"11021"},[...]
[...]
