---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Old-fashioned%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"1-900-FUK-MEUP","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/uxywyw1468877224.jpg","idDrink":"15395"},{"strDrink":"A
        True Amaretto Sour","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rptuxy1472669372.jpg","idDrink":"17005"},{"strDrink":"Absolut
        Sex","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xtrvtx1472668436.jpg","idDrink":"14360"},{"strDrink":"Acapulco","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/il9e0r1582478841.jpg","idDrink":"17836"},{"strDrink":"Addison
        Special","strDrinkThumb[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Gin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11410","strDrink":"Gin Fizz","strDrinkAlternate":null,"strTags":"IBA,Classic","strVideo":"https:\/\/www.youtube.com\/watch?v=obGhGNUKx30","strCategory":"Ordinary
        Drink","strIBA":"Unforgettables","strAlcoholic":"Alcoholic","strGlass":"Highball
        glass","strInstructions":"Shake all ingredients with ice cubes, except soda
        water. Pour into glass. Top with soda water.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten mit Eisw\u00fcrfel sch\u00fctteln, au\u00dfer Sodawasser. In das Glas
        gie\u00dfen. Mit Sodawasser auff\u00fcllen.","strInstructionsFR":null,"strInstructionsIT":"Shakerare
        tutti gli ingredienti con cubetti di ghiaccio, tranne l''acqua gassata. Versare
        nel bicchiere. Completare con acqua gassata.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/drtihp1606768397.jpg","strIngredient1":"Gin","strIngredient2":"Lemon","strIngredient3":"Powdered
        sugar","strIngredient4":"Carbonated water","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"Juice of 1\/2 ","strMeasure3":"1 tsp ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/commons.wikimedia.org\/wiki\/File:15-09-26-RalfR-WLC-0032.jpg","strImageAttribution":null,"strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02
        12:29:32"},{"idDrink":"11417","strDrink":"Gin Sour","strDrinkAlternate":null,"strTags":"Sour","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Whiskey sour glass","strInstructions":"In
        a shaker half-filled with ice cubes, combine the gin, lemon juice, and sugar.
        Shake well. Strain into a sour glass and garnish with the orange slice and
        the cherry.","strInstructionsES":null,"strInstructionsDE":"[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Gin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"3-Mile Long Island Iced Tea","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rrtssw1472668972.jpg","idDr[...]
