---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Highball%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"57 Chevy with a White License Plate","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qyyvtu1468878544.jpg","idDrink":"14029"},{"strDrink":"747
        Drink","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/i9suxb1582474926.jpg","idDrink":"178318"},{"strDrink":"A
        Day at the Beach","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/trptts1454514474.jpg","idDrink":"15200"},{"strDrink":"A
        Furlong Too Late","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ssxvww1472669166.jpg","idDrink":"17831"},{"strDrink":"A
        Night In Old M[...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Tequila
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12362","strDrink":"Tequila Fizz","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins glass","strInstructions":"Shake
        all ingredients (except ginger ale) with ice and strain into a collins glass
        over ice cubes. Fill with ginger ale, stir, and serve.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten (au\u00dfer Ginger Ale) mit Eis sch\u00fctteln und in ein Collins-Glas
        \u00fcber Eisw\u00fcrfel abseihen. Mit Ginger Ale f\u00fcllen, umr\u00fchren
        und servieren.","strInstructionsFR":null,"strInstructionsIT":"Shakerare tutti
        gli ingredienti (eccetto ginger ale) con ghiaccio e filtrare in un bicchiere
        Collins con cubetti di ghiaccio.Riempi con ginger ale, mescola e servi.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/2bcase1504889637.jpg","strIngredient1":"Tequila","strIngredient2":"Lemon
        juice","strIngredient3":"Grenadine","strIngredient4":"Egg white","strIngredient5":"Ginger
        ale","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"1 tblsp ","strMeasure3":"3\/4 oz ","strMeasure4":"1 ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-08
        17:53:57"},{"idDrink":"12370","strDrink":"Tequila Sour","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Whiskey sour glass","strInstructions":"Shake
        tequila, juice of lemon, and powdered sugar with ice and strain into a whiskey
        sour glass. Add the half-slice of lemon, top with the cherry, and serve.","strInstructionsES":null,"strInstructionsDE":"Tequila,
       [...]
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Tequila
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"110 in the shade","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xxyywq1454511117.jpg","idDrink":"1[...]
