---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/lookup.php?api_key&i=16967
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16967","strDrink":"Vodka Fizz","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"White
        wine glass","strInstructions":"Blend all ingredients, save nutmeg. Pour into
        large white wine glass and sprinkle nutmeg on top.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten mischen. In ein gro\u00dfes Wei\u00dfweinglas geben und mit Muskatnuss
        bestreuen.","strInstructionsFR":null,"strInstructionsIT":"Frullare tutti gli
        ingredienti, tranne la noce moscata.\r\nVersare in un grande bicchiere da
        vino bianco e cospargere di noce moscata.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xwxyux1441254243.jpg","strIngredient1":"Vodka","strIngredient2":"Half-and-half","strIngredient3":"Limeade","strIngredient4":"Ice","strIngredient5":"Nutmeg","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"2 oz ","strMeasure3":"2 oz ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-03
        05:24:03"}]}'
  recorded_at: Thu, 05 Aug 2021 19:51:03 GMT
[...]
