---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=bars&limit=10&location=denver,%20co&term=manhattan
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MVRw_yo_7gSNxWtebXeketPj9PFLCQQkey_ywVJ86HWGMWxW_fWR63TOB0-3RLWEhnR0KXC6zSzbbPD-0HObaB08m5cs83eCF4SpiFpJq0e6BGiUEayn6P0gxEfKYHYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Routing-Service:
      - routing-main--uswest2-768597dfcc-lg9t7; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4992'
      Ratelimit-Resettime:
      - '2021-08-06T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-87-203-uswest2aprod
      X-Extlb:
      - 10-69-87-203-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "LRyRNUWVSZ8NXPuCzTrfpA", "alias": "union-lodge-no-1-denver",
        "name": "Union Lodge No.1", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/oQcctWaIVGkoE1pKGlHA6Q/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/union-lodge-no-1-denver?adjust_creative=9gPw-kuPiDZgFQ3Tr4ox3Q&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9gPw-kuPiDZgFQ3Tr4ox3Q",
        "review_count": 556, "categories": [{"alias": "cocktailbars", "title": "Cocktail
        Bars"}, {"alias": "lounges", "title": "Lounges"}], "rating": 5.0, "coordinates":
        {"latitude": 39.746295, "longitude": -104.994652}, "transactions": [], "price":
        "$$", "location": {"address1": "1543 Champa St", "address2": "", "address3":
        "", "city": "Denver", "zip_code": "80202", "country": "US", "state": "CO",
        "display_address": ["1543 Champa St", "Denver, CO 80202"]}, "phone": "+17203890447",
        "display_phone": "(720) 389-0447", "distance": 2413.638465744777}, {"id":
        "i8VF3q7dTszCcigJSMcJzQ", "alias": "angelo-s-taverna-denver", "name": "Angelo\u2019s
        Taverna", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/nrWS_kPhlGofYXQaiHE8Jg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/angelo-s-taverna-denver?adjust_creative=9gPw-kuPiDZgFQ3Tr4ox3Q&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=9gPw-kuPiDZgFQ3Tr4ox3Q",
        "review_count": 1216, "categories": [{"alias": "i[...]
