---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/lookup.php?api_key=<api_key>&i=11008
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11008","strDrink":"Manhattan","strDrinkAlternate":null,"strTags":"IBA,Classic,Alcoholic","strVideo":"https:\/\/www.youtube.com\/watch?v=TFWPtkNoF4Y","strCategory":"Cocktail","strIBA":"Unforgettables","strAlcoholic":"Alcoholic","strGlass":"Cocktail
        glass","strInstructions":"Stirred over ice, strained into a chilled glass,
        garnished, and served up.","strInstructionsES":null,"strInstructionsDE":"\u00dcber
        Eis ger\u00fchrt, in ein gek\u00fchltes Glas geseiht, garniert und serviert.","strInstructionsFR":null,"strInstructionsIT":"Mescolate
        su ghiaccio, filtrate in un bicchiere freddo, guarnite e servite.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/yk70e31606771240.jpg","strIngredient1":"Sweet
        Vermouth","strIngredient2":"Bourbon","strIngredient3":"Angostura bitters","strIngredient4":"Ice","strIngredient5":"Maraschino
        cherry","strIngredient6":"Orange peel","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"3\/4
        oz ","strMeasure2":"2 1\/2 oz Blended ","strMeasure3":"dash ","strMeasure4":"2
        or 3 ","strMeasure5":"1 ","strMeasure6":"1 twist of ","strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/commons.wikimedia.org\/wiki\/File:Oak_Fired_Manhattan_-_Stierch_1.jpg","strImageAttribution":"Sarah
        Stierch (CC BY 4.0)","strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02
        12:07:09"}]}'
  recorded_at: Thu, 05 Aug 2021 03:40:41 GMT
recorded_with: VCR 6.0.0
