---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/lookup.php?api_key=<api_key>&i=11423
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11423","strDrink":"Godfather","strDrinkAlternate":null,"strTags":"IBA,ContemporaryClassic","strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":"Contemporary Classics","strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"Pour all ingredients directly into old fashioned
        glass filled with ice cubes. Stir gently.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten direkt in ein old-fashioned Glas mit Eisw\u00fcrfeln geben. Vorsichtig
        umr\u00fchren.","strInstructionsFR":null,"strInstructionsIT":"Versare tutti
        gli ingredienti direttamente nel bicchiere vecchio stile riempito di cubetti
        di ghiaccio. Mescola delicatamente.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/e5zgao1582582378.jpg","strIngredient1":"Scotch","strIngredient2":"Amaretto","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        1\/2 oz ","strMeasure2":"3\/4 oz ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/www.thecocktaildb.com\/drink\/11423-Godfather","strImageAttribution":"TheCocktailDB.com","strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-02
        17:15:28"}]}'
  recorded_at: Sun, 22 Aug 2021 23:12:05 GMT
[...]
