---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=aperol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"178325","strDrink":"Aperol Spritz","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Wine
        Glass","strInstructions":"Put a couple of cubes of ice into 2 glasses and
        add a 50 ml measure of Aperol to each. Divide the prosecco between the glasses
        and then top up with soda, if you like.","strInstructionsES":null,"strInstructionsDE":null,"strInstructionsFR":null,"strInstructionsIT":"Mettere
        un paio di cubetti di ghiaccio in 2 bicchieri e aggiungere a ciascuno un misurino
        da 50 ml di Aperol. Dividi il prosecco tra i bicchieri e poi rabbocca con
        la soda, se ti piace.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/iloasq1587661955.jpg","strIngredient1":"Aperol","strIngredient2":"Prosecco","strIngredient3":"Soda
        Water","strIngredient4":"","strIngredient5":"","strIngredient6":"","strIngredient7":"","strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"100
        ml","strMeasure2":"150 ml","strMeasure3":"Top","strMeasure4":"","strMeasure5":"","strMeasure6":"","strMeasure7":"","strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"Yes","dateModified":null}]}'
  recorded_at: Wed, 18 Aug 2021 14:37:43 GMT
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=aperol
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Aperol Spritz","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/iloasq1587661955.jpg","idDrink":"178325"},{"strDrink":"Imperial
        Cocktail","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/bcsj2e1487603625.jpg","idDrink":"12706"},{"strDrink":"Spritz
        Veneziano","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/51ezka1551456113.jpg","idDrink":"178308"}]}'
  recorded_at: Wed, 18 Aug 2021 14:37:43 GMT
recorded_with: VCR 6.0.0
