---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Green
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13497","strDrink":"Green Goblin","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Beer","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Pint
        glass","strInstructions":"Cider First, Lager then Curacao","strInstructionsES":null,"strInstructionsDE":"Zuerst
        Apfelwein, dann Lager und Curacao.","strInstructionsFR":null,"strInstructionsIT":"Sidro
        prima, Lager poi Curacao","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/qxprxr1454511520.jpg","strIngredient1":"Cider","strIngredient2":"Lager","strIngredient3":"Blue
        Curacao","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/2
        pint hard ","strMeasure2":"1\/2 pint ","strMeasure3":"1 shot ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2016-02-03
        14:58:40"},{"idDrink":"14374","strDrink":"Absolut Evergreen","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins
        Glass","strInstructions":"Mix, pour over ice and top up with Bitter Lemon.","strInstructionsES":null,"strInstructionsDE":"Mischen,
        \u00fcber Eis gie\u00dfen und mit Bitterzitrone auff\u00fcllen.","strInstructionsFR":null,"strInstructionsIT":"Mescolare,
  [...]
