---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=Green%20Chartreuse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"drinks":null}'
  recorded_at: Wed, 18 Aug 2021 01:39:45 GMT
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&i=Green%20Chartreuse
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"Bijou","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rysb3r1513706985.jpg","idDrink":"17254"},{"strDrink":"Brigadier","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/nl89tf1518947401.jpg","idDrink":"17825"},{"strDrink":"Jewel
        Of The Nile","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/hx4nrb1504884947.jpg","idDrink":"11566"},{"strDrink":"The
        Last Word","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/91oule1513702624.jpg","idDrink":"17247"},{"strDrink":"Tipperary","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/b522ek1521761610.jpg","idDrink":"17828"}]}'
  recorded_at: Wed, 18 Aug 2021 01:39:46 GMT
recorded_with: VCR 6.0.0
