---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key&s=dry
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11324","strDrink":"Dry Rob Roy","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Cocktail glass","strInstructions":"In
        a mixing glass half-filled with ice cubes, combine the Scotch and vermouth.
        Stir well. Strain into a cocktail glass. Garnish with the lemon twist.","strInstructionsES":null,"strInstructionsDE":"In
        einem Mischglas, das halb mit Eisw\u00fcrfeln gef\u00fcllt ist, den Scotch
        mit Wermut kombinieren. Gut umr\u00fchren. In ein Cocktailglas abseihen. Mit
        der Zitronenscheibe garnieren.","strInstructionsFR":null,"strInstructionsIT":"In
        un mixing glass riempito a met\u00e0 con cubetti di ghiaccio, unire lo scotch
        e il vermouth.Filtrare in un bicchiere da cocktail. Mescolare bene. Guarnire
        con la scorza di limone","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/typuyq1439456976.jpg","strIngredient1":"Scotch","strIngredient2":"Dry
        Vermouth","strIngredient3":"Lemon peel","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        1\/2 oz ","strMeasure2":"1 1\/2 tsp ","strMeasure3":"1 twist of ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":null},{"idDrink":"11005","strDrink":"Dry
        Martini","strDrinkAlternate":null,"strTags":"IBA,Classic,Christmas,Alcoholic","strVideo":null,"strCategory":"Cocktail","strIBA":"Unforgettables","strAlcoholic":"Alcoholic","strGlass":"Cocktail
        glass","strInstructions":"Straight: Pour all ingredients into mixing glass
        with ice cubes. Stir well. Strain in chilled martini cocktail glass. Squeeze
        oil from lemon peel onto the drink, or garnish with olive.","strInstructionsES":nu[...]
