---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/search.php?api_key=<api_key>&s=orange
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"12618","strDrink":"Orangeade","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Cocktail","strIBA":null,"strAlcoholic":"Non
        alcoholic","strGlass":"Highball glass","strInstructions":"Place some ice cubes
        in a large tumbler or highball glass, add lemon juice, orange juice, sugar
        syrup, and stir well. Top up with cold soda water, serve with a drinking straw.","strInstructionsES":null,"strInstructionsDE":"Legen
        Sie einige Eisw\u00fcrfel in einen gro\u00dfen Becher oder ein Highball-Glas,
        geben Sie Zitronensaft, Orangensaft, Zuckersirup hinzu und r\u00fchren Sie
        gut um. Mit kaltem Sodawasser auff\u00fcllen, mit einem Trinkhalm servieren.","strInstructionsFR":null,"strInstructionsIT":"Mettere
        alcuni cubetti di ghiaccio in un grande bicchiere tumbler o highball, aggiungere
        il succo di limone, il succo d''arancia, lo sciroppo di zucchero e mescolare
        bene.Rabboccare con acqua fredda di soda, servire con una cannuccia.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ytsxxw1441167732.jpg","strIngredient1":"Lemon
        juice","strIngredient2":"Orange juice","strIngredient3":"Sugar syrup","strIngredient4":"Soda
        water","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"5
        cl ","strMeasure2":"15 cl ","strMeasure3":"2-3 cl ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-02
        05:22:12"},{"idDrink":"16995","strDrink":"Orange Whip","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins
        Glass","strInstructions":"Pour ingredients over ice and stir.","strInstructionsES":null,"strInstructionsDE":"Zutaten
        \u00fcber Eis gie\u00dfen und umr\u00fchren.","strInstructionsFR":null,"strInstructionsIT":"Versare
        gli ingredienti sul ghiaccio e mesco[...]
