---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/filter.php?api_key=<api_key>&g=Collins%20glass
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"strDrink":"3 Wise Men","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wxqpyw1468877677.jpg","idDrink":"13899"},{"strDrink":"3-Mile
        Long Island Iced Tea","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/rrtssw1472668972.jpg","idDrink":"15300"},{"strDrink":"410
        Gone","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xtuyqv1472669026.jpg","idDrink":"13581"},{"strDrink":"50\/50","strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/wwpyvr1461919316.jpg","idDrink":"14598"},{"strDrink":"501
        Blue","strDrinkThumb":"ht[...]
