---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13751","strDrink":"Cuba Libra","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Highball glass","strInstructions":"Fill
        tall glass with ice cubes. Add rum. Rub cut edge of lime on rim of glass then
        squeeze juice into glass. Fill with Coca-Cola. Garnish with lime slice. Enjoy!","strInstructionsES":null,"strInstructionsDE":"F\u00fcllen
        Sie das hohe Glas mit Eisw\u00fcrfeln. F\u00fcge Rum hinzu. Reiben Sie die
        Schnittkante der Limette auf den Glasrand und dr\u00fccken Sie den Saft in
        das Glas. Mit Coca-Cola f\u00fcllen. Mit Limettenscheibe garnieren. Viel Spa\u00df!","strInstructionsFR":null,"strInstructionsIT":"Riempi
        un bicchiere alto con cubetti di ghiaccio.\r\nAggiungi il rum.\r\nStrofinare
        il bordo tagliato di lime sul bordo del bicchiere, quindi spremere il succo
        in un bicchiere.\r\nRiempi di Coca-Cola.\r\nGuarnire con una fetta di lime.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/ck6d0p1504388696.jpg","strIngredient1":"Dark
        rum","strIngredient2":"Lime","strIngredient3":"Coca-Cola","strIngredient4":"Ice","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1-2
        shot ","strMeasure2":"Squeeze ","strMeasure3":"Fill with ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-02
        22:44:56"}]}'
  recorded_at: Thu, 05 Aug 2021 19:51:14 GMT
recorded_with: VCR 6.0.0
