---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Tue, 03 Aug 2021 04:17:19 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11407","strDrink":"Gin Cooler","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins glass","strInstructions":"Stir
        powdered sugar and 2 oz. carbonated water in a collins glass. Fill glass with
        ice and add gin. Fill with carbonated water and stir. Add the lemon peel and
        the orange spiral so that the end of the orange spiral dangles over rim of
        glass.","strInstructionsES":null,"strInstructionsDE":"Puderzucker und 6 cl.
        kohlens\u00e4urehaltiges Wasser in einem Collins-Glas verr\u00fchren. Das
        Glas mit Eis f\u00fcllen und Gin hinzuf\u00fcgen. Mit kohlens\u00e4urehaltigem
        Wasser auff\u00fcllen und umr\u00fchren. F\u00fcgen Sie die Zitronenschale
        und die Orangenspirale so hinzu, dass das Ende der Orangenspirale \u00fcber
        den Glasrand baumelt.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        lo zucchero a velo 56g e acqua gassata in un bicchiere Collins. Riempi il
        bicchiere di ghiaccio e aggiungi il gin. Riempi con acqua gassata e mescola.
        Aggiungere la scorza di limone e la spirale di arancia in modo che l''estremit\u00e0
        della spirale penda sul bordo del vetro.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/678xt11582481163.jpg","strIngredient1":"Gin","strIngredient2":"Carbonated
        water","strIngredient3":"Powdered sugar","strIngredient4":"Orange spiral","strIngredient5":"Lemon
        peel","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":null,"strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"Yes","dateModified":"2016-11-10
        23:21:49"}]}'
  recorded_at: Tue, 03 Aug 2021 04:17:19 GMT
recorded_with: VCR 6.0.0
