---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"13192","strDrink":"National Aquarium","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins Glass","strInstructions":"Pour
        all ingredients into a shaker of ice. Shake well. Serve on the rocks.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten in einen Shaker mit Eis geben. Gut sch\u00fctteln. Auf Eis servieren.","strInstructionsFR":null,"strInstructionsIT":"Versa
        tutti gli ingredienti in uno shaker di ghiaccio.\r\nAgitare bene.\r\nServire
        con ghiaccio.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/dlw0om1503565021.jpg","strIngredient1":"Rum","strIngredient2":"Vodka","strIngredient3":"Gin","strIngredient4":"Blue
        Curacao","strIngredient5":"Sour mix","strIngredient6":"Lemon-lime soda","strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1\/2
        oz ","strMeasure2":"1\/2 oz ","strMeasure3":"1\/2 oz ","strMeasure4":"1\/2
        oz ","strMeasure5":"2 oz ","strMeasure6":"1 splash ","strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-08-24
        09:57:01"}]}'
  recorded_at: Tue, 03 Aug 2021 23:09:12 GMT
recorded_with: VCR 6.0.0
