---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14578","strDrink":"Amaretto Sunrise","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins Glass","strInstructions":"Mix
        together the amaretto and orange juice. Pour into glass and then add the grenadine
        untill you see the sunrise.","strInstructionsES":null,"strInstructionsDE":"Amaretto
        und Orangensaft verr\u00fchren. In ein Glas gie\u00dfen und dann die Grenadine
        hinzuf\u00fcgen, bis Sie den Sonnenaufgang sehen.","strInstructionsFR":null,"strInstructionsIT":"Mescolare
        l''amaretto e il succo d''arancia.\r\nVersate in un bicchiere e poi aggiungete
        la granatina fino a vedere l''alba.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/akcpsh1493070267.jpg","strIngredient1":"Amaretto","strIngredient2":"Orange
        juice","strIngredient3":"Grenadine","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        cl ","strMeasure2":"4 oz ","strMeasure3":"1\/4 cl ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-04-24
        22:44:27"}]}'
  recorded_at: Thu, 05 Aug 2021 03:40:41 GMT
recorded_with: VCR 6.0.0
