---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14157","strDrink":"Ziemes Martini Apfelsaft","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Collins Glass","strInstructions":"Serve
        without ice. At least the juice shold have room temperature.","strInstructionsES":null,"strInstructionsDE":"Ohne
        Eis servieren. Zumindest sollte der Saft Raumtemperatur haben.","strInstructionsFR":null,"strInstructionsIT":"Servire
        senza ghiaccio.\r\nAlmeno il succo dovrebbe avere la temperatura ambiente.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/xnzr2p1485619687.jpg","strIngredient1":"Vermouth","strIngredient2":"Apple
        juice","strIngredient3":null,"strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"4
        cl ","strMeasure2":"16 cl ","strMeasure3":null,"strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-01-28
        16:08:07"}]}'
  recorded_at: Sun, 22 Aug 2021 23:12:11 GMT
recorded_with: VCR 6.0.0
