---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"14087","strDrink":"Red Snapper","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Shot","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"One shot each, shake n shoot","strInstructionsES":null,"strInstructionsDE":"Jeweils
        ein Shot, sch\u00fctteln und schie\u00dfen.","strInstructionsFR":null,"strInstructionsIT":"Versa
        in un bicchiere tutti gli ingredienti. Mescolare.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/7p607y1504735343.jpg","strIngredient1":"Crown
        Royal","strIngredient2":"Amaretto","strIngredient3":"Cranberry juice","strIngredient4":null,"strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        shot ","strMeasure2":"1 shot ","strMeasure3":"1 shot ","strMeasure4":null,"strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2017-09-06
        23:02:23"}]}'
  recorded_at: Thu, 05 Aug 2021 20:42:47 GMT
recorded_with: VCR 6.0.0
