---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key=<api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"16158","strDrink":"Whitecap Margarita","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Other\/Unknown","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Margarita\/Coupette
        glass","strInstructions":"Place all ingredients in a blender and blend until
        smooth. This makes one drink.","strInstructionsES":null,"strInstructionsDE":"Alle
        Zutaten in einen Mixer geben und mischen.","strInstructionsFR":null,"strInstructionsIT":"Metti
        tutti gli ingredienti in un frullatore e frulla fino a che non diventa liscio.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/srpxxp1441209622.jpg","strIngredient1":"Ice","strIngredient2":"Tequila","strIngredient3":"Cream
        of coconut","strIngredient4":"Lime juice","strIngredient5":null,"strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"1
        cup ","strMeasure2":"2 oz ","strMeasure3":"1\/4 cup ","strMeasure4":"3 tblsp
        fresh ","strMeasure5":null,"strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":null,"strImageAttribution":null,"strCreativeCommonsConfirmed":"No","dateModified":"2015-09-02
        17:00:22"}]}'
  recorded_at: Fri, 13 Aug 2021 21:52:31 GMT
recorded_with: VCR 6.0.0
