---
http_interactions:
- request:
    method: get
    uri: https://www.thecocktaildb.com/api/json/v1/1/random.php?api_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"drinks":[{"idDrink":"11415","strDrink":"Gin Sling","strDrinkAlternate":null,"strTags":null,"strVideo":null,"strCategory":"Ordinary
        Drink","strIBA":null,"strAlcoholic":"Alcoholic","strGlass":"Old-fashioned
        glass","strInstructions":"Dissolve powdered sugar in mixture of water and
        juice of lemon. Add gin. Pour into an old-fashioned glass over ice cubes and
        stir. Add the twist of orange peel and serve.","strInstructionsES":null,"strInstructionsDE":"Puderzucker
        in einer Mischung aus Wasser und Zitronensaft aufl\u00f6sen. Gin hinzuf\u00fcgen.
        In ein old-fashioned Glas \u00fcber Eisw\u00fcrfel gie\u00dfen und umr\u00fchren.
        Die  Orangenspirale hinzuf\u00fcgen und servieren.","strInstructionsFR":null,"strInstructionsIT":"Sciogliere
        lo zucchero a velo in una miscela di acqua e succo di limone. Aggiungi il
        gin. Versare in un bicchiere vecchio stile con dei cubetti di ghiaccio e mescolare.Aggiungere
        la scorza d''arancia e servire.","strInstructionsZH-HANS":null,"strInstructionsZH-HANT":null,"strDrinkThumb":"https:\/\/www.thecocktaildb.com\/images\/media\/drink\/8cl9sm1582581761.jpg","strIngredient1":"Gin","strIngredient2":"Lemon","strIngredient3":"Powdered
        sugar","strIngredient4":"Water","strIngredient5":"Orange peel","strIngredient6":null,"strIngredient7":null,"strIngredient8":null,"strIngredient9":null,"strIngredient10":null,"strIngredient11":null,"strIngredient12":null,"strIngredient13":null,"strIngredient14":null,"strIngredient15":null,"strMeasure1":"2
        oz ","strMeasure2":"Juice of 1\/2 ","strMeasure3":"1 tsp ","strMeasure4":"1
        tsp ","strMeasure5":"Twist of ","strMeasure6":null,"strMeasure7":null,"strMeasure8":null,"strMeasure9":null,"strMeasure10":null,"strMeasure11":null,"strMeasure12":null,"strMeasure13":null,"strMeasure14":null,"strMeasure15":null,"strImageSource":"https:\/\/www.thecocktaildb.com\/drink\/11415","strImageAttribution":null,"strCreativeCommonsConfirmed":"Yes","dateModified":"2017-09-08
        16:10:40"}]}'
  recorded_at: Wed, 04 Aug 2021 23:05:03 GMT
recorded_with: VCR 6.0.0
